@import url("https://fonts.googleapis.com/css?family=Kaushan+Script|Montserrat:400,700|Roboto:300i,400&subset=latin-ext");
html {
  font-size: 15px; }

img-size {
  max-width: 100%; }

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #000000; }

h5 {
  font-family: "Kaushan Script", cursive;
  font-weight: 400;
  color: #000000; }

header .navbar-brand {
  color: #fff; }
header ul a {
  color: #fff; }
  header ul a:hover, header ul a.active {
    color: #FCE38A; }
header .navbar-toggler {
  border-color: #95E1D3; }
header .navbar-nav .nav-link {
  font-size: 15px;
  text-align: center;
  border-bottom: 1px solid #fff; }
  header .navbar-nav .nav-link:hover, header .navbar-nav .nav-link.active {
    border-bottom: 1px solid #FCE38A; }

@media (min-width: 768px) {
  header .navbar-nav .nav-link {
    border: none; } }
.lead-section {
  background-size: cover;
  background-position: center center; }
  .lead-section p {
    font-size: 50px;
    font-family: "Kaushan Script", cursive;
    color: #fff; }
  .lead-section h1 {
    color: #fff;
    font-weight: 800;
    font-size: 60px; }
    .lead-section h1:after {
      content: "";
      display: block;
      margin: 20px auto 0;
      height: 3px;
      width: 60px;
      background-color: #FFFFFF; }
  .lead-section .btn {
    color: #fff;
    height: 40px;
    width: 160px;
    border: 3px solid #FFFFFF;
    background-color: transparent;
    border-radius: none; }
    .lead-section .btn:hover {
      color: #F38181; }

@media (min-width: 768px) {
  .lead-section p {
    font-size: 72px; }
  .lead-section h1 {
    font-size: 150px; } }
.story {
  position: relative;
  transition: 0.5 linear; }
  .story:hover {
    box-shadow: 5px 5px 8px 0px #95E1D3; }
  .story figure {
    position: relative; }
  .story h2:after {
    content: "";
    height: 3px;
    width: 60px;
    background-color: #F38181;
    display: block;
    margin: 20px auto 0; }
  .story .gallery-item {
    position: relative; }
    .story .gallery-item .gallery-hover {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(to right, rgba(243, 129, 129, 0.8), rgba(252, 227, 138, 0.8));
      display: none;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      box-shadow: 5px 5px 8px 0px #95E1D3; }
      .story .gallery-item .gallery-hover .fa {
        color: #fff; }
    .story .gallery-item:hover .gallery-hover {
      display: flex; }

.counter {
  background-color: #95E1D3;
  color: #fff;
  font-family: "Montserrat", sans-serif; }
  .counter h3 {
    font-size: 72px;
    font-weight: 800; }
  .counter p {
    text-transform: uppercase; }

.services .w-20 {
  color: #95E1D3;
  font-size: 31px; }
.services .w-80 h6 {
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase; }
.services h2:after {
  content: "";
  height: 3px;
  width: 60px;
  background-color: #F38181;
  display: block;
  margin: 20px auto 0; }

.devices {
  background-size: cover;
  background-position: center center; }
  .devices h2:after {
    content: "";
    height: 3px;
    width: 60px;
    background-color: #F38181;
    display: block;
    margin: 20px auto 0; }

.whatwedo h2.red-line:after {
  content: "";
  height: 3px;
  width: 60px;
  background-color: #F38181;
  display: block;
  margin: 20px auto 0; }

.slider-1 {
  position: relative;
  background-color: #F8F8F8; }
  .slider-1 p {
    font-size: 24px; }
  .slider-1 .owl-nav {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%; }
  .slider-1 .owl-prev {
    position: absolute;
    top: 0;
    transform: translateY(-50%);
    left: 100px;
    height: 50px;
    width: 50px;
    background-color: #CCCCCC; }
  .slider-1 .owl-next {
    position: absolute;
    top: 0;
    transform: translateY(-50%);
    right: 100px;
    height: 50px;
    width: 50px;
    background-color: #CCCCCC; }
  .slider-1 .fa {
    font-size: 80px;
    border-color: #95E1D3 3px solid; }
  .slider-1 h5:before {
    content: "";
    height: 3px;
    width: 60px;
    background-color: #F38181;
    display: inline-block;
    margin: 20px auto 0; }

@media (min-width: 992px) {
  .slider-1 .owl-nav .owl-prev {
    left: 5%; }
  .slider-1 .owl-nav .owl-next {
    right: 5%; } }
.team h2:after {
  content: "";
  height: 3px;
  width: 60px;
  background-color: #F38181;
  display: block;
  margin: 20px auto 0; }
.team .team-member {
  position: relative;
  transition: 0.5 linear; }
  .team .team-member:hover {
    box-shadow: 5px 5px 8px 0px #95E1D3; }
    .team .team-member:hover figure {
      position: relative; }
  .team .team-member .team-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, rgba(243, 129, 129, 0.9), rgba(252, 255, 138, 0.9));
    display: none; }
    .team .team-member .team-hover .team-social {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      text-align: center; }
      .team .team-member .team-hover .team-social .fa {
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 30px;
        color: #fff;
        background-color: #FCE38A; }
        .team .team-member .team-hover .team-social .fa:hover {
          background-color: #F38181;
          color: #fff;
          border-color: #F38181 1px solid; }
  .team .team-member:hover .team-hover {
    display: block; }

.badges {
  background-color: #F8F8F8;
  text-align: center; }

.somework .red-line1:after {
  content: "";
  height: 3px;
  width: 60px;
  background-color: #F38181;
  display: block;
  margin: 20px auto 0; }
.somework .gallery-item {
  position: relative; }
  .somework .gallery-item .gallery-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, rgba(243, 129, 129, 0.8), rgba(252, 227, 138, 0.8));
    display: none;
    justify-content: center;
    flex-direction: column;
    text-align: center; }
  .somework .gallery-item:hover .gallery-hover {
    display: flex; }

.slider-2 {
  position: relative;
  background-color: #F8F8F8; }
  .slider-2 img {
    display: block;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    overflow: hidden; }
  .slider-2 p {
    font-size: 24px; }
  .slider-2 .owl-nav {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%; }
  .slider-2 .owl-prev {
    position: absolute;
    top: 0;
    transform: translateY(-50%);
    left: 100px;
    height: 50px;
    width: 50px;
    background-color: #CCCCCC; }
  .slider-2 .owl-next {
    position: absolute;
    top: 0;
    transform: translateY(-50%);
    right: 100px;
    height: 50px;
    width: 50px;
    background-color: #CCCCCC; }
  .slider-2 .fa {
    font-size: 80px;
    border-color: #95E1D3 3px solid; }
  .slider-2 h5:before {
    content: "";
    height: 3px;
    width: 60px;
    background-color: #F38181;
    display: inline-block;
    margin: 20px auto 0; }

@media (min-width: 992px) {
  .slider-1 .owl-nav .owl-prev {
    left: 5%; }
  .slider-1 .owl-nav .owl-next {
    right: 5%; } }
.clients {
  background-size: cover;
  background-position: center center; }
  .clients h2:after {
    content: "";
    height: 3px;
    width: 60px;
    background-color: #F38181;
    display: block;
    margin: 20px auto 0; }
  .clients .client-item img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    overflow: hiden; }
  .clients .client-item .red-line:after {
    content: "";
    height: 3px;
    width: 60px;
    background-color: #F38181;
    display: block;
    margin: 20px auto 0; }

figure {
  position: relative; }
  figure .green-card {
    position: absolute;
    height: 70px;
    width: 60px;
    background-color: #95E1D3;
    bottom: 10px;
    right: 370px;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    font-family: Montserrat;
    text-align: center; }
    figure .green-card .date {
      font-weight: normal;
      position: absolute;
      color: #fff;
      font-size: 15px;
      text-align: center;
      top: 40px;
      left: 12px; }

.map h2 {
  color: #F38181; }
  .map h2 a {
    color: #F38181; }
  .map h2:after {
    content: "";
    height: 3px;
    width: 60px;
    background-color: #F38181;
    display: block;
    margin: 20px auto 0; }
.map h3 {
  color: #F38181; }

/*# sourceMappingURL=theme.css.map */
