@import url("https://fonts.googleapis.com/css?family=Kaushan+Script|Montserrat:400,700|Roboto:300i,400&subset=latin-ext");
html {
  font-size: 15px; }

img-size {
  max-width: 100%; }

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #000000; }

h5 {
  font-family: "Kaushan Script", cursive;
  font-weight: 400;
  color: #000000; }

header .navbar-brand {
  color: #fff; }
header ul a {
  color: #fff; }
  header ul a:hover, header ul a.active {
    color: #FCE38A; }
header .navbar-toggler {
  border-color: #95E1D3; }
header .navbar-nav .nav-link {
  font-size: 15px;
  text-align: center;
  border-bottom: 1px solid #fff; }
  header .navbar-nav .nav-link:hover, header .navbar-nav .nav-link.active {
    border-bottom: 1px solid #FCE38A; }

@media (min-width: 768px) {
  header .navbar-nav .nav-link {
    border: none; } }
.lead-section {
  background-size: cover;
  background-position: center center; }
  .lead-section p {
    font-size: 50px;
    font-family: "Kaushan Script", cursive;
    color: #fff; }
  .lead-section h1 {
    color: #fff;
    font-weight: 800;
    font-size: 60px; }
    .lead-section h1:after {
      content: "";
      display: block;
      margin: 20px auto 0;
      height: 3px;
      width: 60px;
      background-color: #FFFFFF; }
  .lead-section .btn {
    color: #fff;
    height: 40px;
    width: 160px;
    border: 3px solid #FFFFFF;
    background-color: transparent;
    border-radius: none; }
    .lead-section .btn:hover {
      color: #F38181; }

@media (min-width: 768px) {
  .lead-section p {
    font-size: 72px; }
  .lead-section h1 {
    font-size: 150px; } }
.story h2:after {
  content: "";
  height: 3px;
  width: 60px;
  background-color: #F38181;
  display: block;
  margin: 20px auto 0; }

.counter {
  background-color: #95E1D3;
  color: #fff;
  font-family: "Montserrat", sans-serif; }
  .counter h3 {
    font-size: 72px;
    font-weight: 800; }
  .counter p {
    text-transform: uppercase; }

.services .w-20 {
  color: #95E1D3;
  font-size: 31px; }
.services .w-80 h6 {
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase; }
.services h2:after {
  content: "";
  height: 3px;
  width: 60px;
  background-color: #F38181;
  display: block;
  margin: 20px auto 0; }

.devices {
  background-size: cover;
  background-position: center center; }
  .devices h2:after {
    content: "";
    height: 3px;
    width: 60px;
    background-color: #F38181;
    display: block;
    margin: 20px auto 0; }

.whatwedo h2.red-line:after {
  content: "";
  height: 3px;
  width: 60px;
  background-color: #F38181;
  display: block;
  margin: 20px auto 0; }

.slider-1 {
  position: relative;
  background-color: #F8F8F8; }
  .slider-1 p {
    font-size: 24px; }
  .slider-1 .owl-nav {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%; }
  .slider-1 .owl-prev {
    position: absolute;
    top: 0;
    transform: translateY(-50%);
    left: 100px;
    height: 30px;
    width: 30px;
    background-color: #CCCCCC; }
  .slider-1 .owl-next {
    position: absolute;
    top: 0;
    transform: translateY(-50%);
    right: 100px;
    height: 30px;
    width: 30px;
    background-color: #CCCCCC; }
  .slider-1 .fa {
    line-height: 26px;
    font-size: 2rem; }
  .slider-1 h5:before {
    content: "";
    height: 3px;
    width: 60px;
    background-color: #F38181;
    display: inline-block;
    margin: 20px auto 0; }

@media (min-width: 992px) {
  .slider-1 .owl-nav .owl-prev {
    left: 5%; }
  .slider-1 .owl-nav .owl-next {
    right: 5%; } }
.team h2:after {
  content: "";
  height: 3px;
  width: 60px;
  background-color: #F38181;
  display: block;
  margin: 20px auto 0; }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 12, 2019, 3:24:17 PM
    Author     : sonja
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 12, 2019, 3:24:51 PM
    Author     : sonja
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 12, 2019, 3:25:16 PM
    Author     : sonja
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 12, 2019, 3:25:41 PM
    Author     : sonja
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 12, 2019, 3:26:09 PM
    Author     : sonja
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 12, 2019, 3:26:39 PM
    Author     : sonja
*/

/*# sourceMappingURL=theme.css.map */
