

.clients{
    background-size:cover;
    background-position:center center;
    
    h2{
         &:after{
            content: "";
            height: 3px;	
            width: 60px;	
            background-color: $secondary;
            display:block;
            margin:20px auto 0;
        }
    }
    .client-item{
       
    img{
        height:100px;
        width: 100px;
        border-radius:50%;
        overflow: hiden;
    }
    .red-line{
            
            &:after{
            content: "";
            height: 3px;	
            width: 60px;	
            background-color: $secondary;
            display:block;
            margin:20px auto 0;
        }
    }
    }
   
}//devices end