.counter{
    background-color: $primary;
    color:#fff;
    font-family: $font-montserrat;
    
    h3{
        font-size: 72px;
        font-weight: $font-weight-extrabold;
    }
    p{
        text-transform: uppercase;
    }
}