


@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Montserrat:400,700|Roboto:300i,400&subset=latin-ext');

$font-kaushianScript:'Kaushan Script', cursive;
$font-roboto:'Roboto', sans-serif;
$font-moncerat:'Montserrat', sans-serif;



$font-weight-regular:400;
$font-weight-bold:700;
$font-light-italic:300i;
