

.slider-2{
    position:relative;
    background-color: #F8F8F8;
    
    img{
        display:block;
        height: 232px;
        width: 326px;
        border-radius: 50%;
        overflow: hidden;
       
    }
    
    p{
        font-size: 24px;
    }
   
    
    .owl-nav{
        position: absolute;
        top:50%;
        left: 0;
        width: 100%;
    }
    
    .owl-prev{
        position:absolute;
        top:0;
        transform: translateY(-50%);
        left:100px;
        height: 50px;
        width: 50px;
        background-color: #CCCCCC;
    }
    .owl-next{
        position:absolute;
        top:0;
        transform: translateY(-50%);
        right:100px;
        height: 50px;
        width: 50px;
        background-color: #CCCCCC;
    }
    .fa{
        
        font-size: 80px;
        border-color:$primary 3px solid;
       

        
    }
    h5{
        &:before{
            content: "";
            height: 3px;	
            width: 60px;	
            background-color: $secondary;
            display:inline-block;
            margin:20px auto 0;
            
        }
    }
    
}

@media(min-width:992px){
    
    .slider-1{
        .owl-nav{
        .owl-prev{
            left:5%;
        }
        .owl-next{
            right:5%;
        }
    }
    }
    
}