

.whatwedo{
    
        h2.red-line{
         &:after{
            content: "";
            height: 3px;	
            width: 60px;	
            background-color: $secondary;
            display:block;
            margin:20px auto 0;
            }
        }
    
}


